name: Terrafom CI/CD for EKS Cluster

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
        action:
          description: 'Select Apply to apply the changes'
          required: true
          type: choice
          options:
            - apply
permissions:
  id-token: write
  contents: read

env:
  TF_VERSION: '1.9.5'
  TF_workdir: Dev
  TF_region: 'eu-central-1'
jobs:
  validate: 
    name: fmt init validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{env.TF_VERSION }}
      - name: Terraform fmt
        run: terraform fmt -check
      - name: Terraform init
        run: terraform -chdir="${{env.TF_workdir}}" init -backend=false -input=false
      - name: Terraform validate
        run: terraform -chdir="${{env.TF_workdir}}" validate
  plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    needs: validate
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork == false
    env:
        PLAN_ROLE_ARN: ${{ secrets.PLAN_ROLE_ARN }}
    steps:
        - uses: actions/checkout@v4
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v3
          with:
            terraform_version: ${{env.TF_VERSION }}
        - name: Debug OIDC token
          run: |
            python - <<'PY'
            import json, os, base64, urllib.request
            url = os.environ["ACTIONS_ID_TOKEN_REQUEST_URL"] + "&audience=sts.amazonaws.com"
            req = urllib.request.Request(url, headers={"Authorization": f"bearer {os.environ['ACTIONS_ID_TOKEN_REQUEST_TOKEN']}"})
            token = json.load(urllib.request.urlopen(req))["value"]
            payload = json.loads(base64.urlsafe_b64decode(token.split(".")[1] + "=="))
            print("issuer:", payload.get("iss"))
            print("sub:", payload.get("sub"))
            print("aud:", payload.get("aud"))
            PY

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: ${{ secrets.PLAN_ROLE_ARN }}
            role-session-name: GitHubActions-TerraformPlan
            aws-region: ${{ env.TF_region }}
        - name: terraform init 
          run: terraform -chdir="${{env.TF_workdir}}" init -input=false
        - name: terraform plan
          run: terraform -chdir="${{env.TF_workdir}}" plan -out=tfplan -input=false
